<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/lodash/lodash.compat.js"></script>
    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>

    <script src="../src/app.js"></script>
    <script src="../src/check/controller.js"></script>
    <script src="../src/utils.js"></script>
    <script src="../src/check/evaluate.js"></script>
    <script src="../src/check/calculate.js"></script>
    <!--    <script src="//localhost:35729/livereload.js"></script> -->

    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="pp.css">

    <title>Probenprophet 2.0</title>
</head>
<body data-ng-app="pp2">
<div data-ng-controller="CheckController">
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="attributesInput" class="control-label col-xs-2">Eigenschaften</label>

                <div class="col-xs-10">
                    <input ng-repeat="i in [0,1,2]" id="attributesInput" class="form-control col-xs-2" type="number" data-ng-model="check.attributes[i]">
                </div>
            </div>
            <div class="form-group">
                    <label for="valueInput" class="control-label col-xs-2">Wert</label>
                <div class="col-xs-10">
                    <input id="valueInput" class="form-control col-xs-10" type="number" data-ng-model="check.value">
                </div>
            </div>
            <div class="form-group">
                    <label for="difficultyInput" class="control-label col-xs-2">Erschwernis</label>
                <div class="col-xs-10">
                    <input id="difficultyInput" class="form-control col-xs-10" type="number" data-ng-model="check.difficulty">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="check.minimumQuality"> Minimaleffekt
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--
                    </li>
                    <li class="check_form">
                        <input type="checkbox" data-ng-model="check.minimumQuality" id="checkboxMinimumQuality" data-ng-change="recalculate()">
                        <label for="checkboxMinimumQuality">Regel zum "Minimaleffekt" aktivieren</label>
                    </li>
                    <li class="check_form">
                        <input type="checkbox" id="checkboxFesteMatrix" data-ng-change="recalculate()"
                                data-ng-model="check.festeMatrix" ng-disabled="check.wildeMagie || check.spruchhemmung">
                        <label for="checkboxFesteMatrix">Vorteil "Feste Matrix"</label>
                    </li>
                    <li class="check_form">
                        <input type="checkbox" id="checkboxWildeMagie" data-ng-change="recalculate()"
                                data-ng-model="check.wildeMagie" ng-disabled="check.festeMatrix">
                        <label for="checkboxWildeMagie">Nachteil "Wilde Magie" / "Tollpatsch"</label>
                    </li>
                    <li class="check_form">
                        <input type="checkbox" id="checkboxSpruchhemmung" data-ng-change="recalculate()"
                                data-ng-model="check.spruchhemmung" ng-disabled="check.festeMatrix">
                        <label for="checkboxSpruchhemmung">Nachteil "Spruchhemmung"</label>
                    </li>
                </ul>
            </fieldset>
        </div>
        <div style="float: right">
            <pre>statistics={{statistics | json}}</pre>
            <pre>outcome={{outcome | json}}</pre>
        </div>
        -->
</body>
</html>