<!DOCTYPE html>
<html lang="de" data-ng-app="ppCheck">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/lodash/lodash.compat.js"></script>
    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="js/utils.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/pp.css">
    <title>Probenprophet 2.0</title>
</head>
<body>
<div data-ng-controller="CheckController">
    <div class="container">
        <form class="form-inline" role="form">
            <div class="col-xs-12 col-sm-8">
                <div class="col-xs-12 col-sm-6">
                    <label>Eigenschaften</label>
                    <input class="form-control" type="number" min="1" max="25" step="1" data-ng-model="check.attribute1"
                           data-ng-change="recalculate()">
                    <input class="form-control" type="number" min="1" max="25" step="1" data-ng-model="check.attribute2"
                           data-ng-change="recalculate()">
                    <input class="form-control" type="number" min="1" max="25" step="1" data-ng-model="check.attribute3"
                           data-ng-change="recalculate()">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="value">Wert</label>
                    <input class="form-control" type="number" min="-5" max="30" step="1" id="value" data-ng-model="check.value"
                           data-ng-change="recalculate()">
                    <label for="difficulty">Erschwernis</label>
                    <input class="form-control" type="number" min="-20" max="50" step="1" id="difficulty" data-ng-model="check.difficulty"
                           data-ng-change="recalculate()">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary">Zufallswurf</button>
                        <div class="pull-right">
                            12/12/12
                            <br/>
                            asdasdasdsd
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary">Berechnung</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--
                    </li>
                    <li class="check_form">
                        <input type="checkbox" data-ng-model="check.minimumQuality" id="checkboxMinimumQuality" data-ng-change="recalculate()">
                        <label for="checkboxMinimumQuality">Regel zum "Minimaleffekt" aktivieren</label>
                    </li>
                    <li class="check_form">
                        <input type="checkbox" id="checkboxFesteMatrix" data-ng-change="recalculate()"
                                data-ng-model="check.festeMatrix" ng-disabled="check.wildeMagie || check.spruchhemmung">
                        <label for="checkboxFesteMatrix">Vorteil "Feste Matrix"</label>
                    </li>
                    <li class="check_form">
                        <input type="checkbox" id="checkboxWildeMagie" data-ng-change="recalculate()"
                                data-ng-model="check.wildeMagie" ng-disabled="check.festeMatrix">
                        <label for="checkboxWildeMagie">Nachteil "Wilde Magie" / "Tollpatsch"</label>
                    </li>
                    <li class="check_form">
                        <input type="checkbox" id="checkboxSpruchhemmung" data-ng-change="recalculate()"
                                data-ng-model="check.spruchhemmung" ng-disabled="check.festeMatrix">
                        <label for="checkboxSpruchhemmung">Nachteil "Spruchhemmung"</label>
                    </li>
                </ul>
            </fieldset>
        </div>
        <div style="float: right">
            <pre>statistics={{statistics | json}}</pre>
            <pre>outcome={{outcome | json}}</pre>
        </div>
        -->
</div>
</body>
</html>