<!doctype html>
<html data-ng-app="pp2.ranged">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-locale_de-de.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="js/filters.js"></script>
<script src="js/ranged.js"></script>
<link rel="stylesheet" media="screen" href="css/pp.css">
<title>Probenprophet 2.0 - Fernkampf</title>
</head>
<body data-ng-controller="RangedController">
	<table style="display:inline-block;">
		<tr>
			<td><label> <input type="radio" name="shooter" value="normal" data-ng-model="character.sf.shooter">normal
			</label> &nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="radio" name="shooter" value="sharp"
					data-ng-model="character.sf.shooter">SF Scharfschütze
			</label> &nbsp;&nbsp;&nbsp;&nbsp; <label> <input type="radio" name="shooter" value="master"
					data-ng-model="character.sf.shooter">SF Meisterschütze
			</label></td>
		</tr>
	</table>
	<table style="display:inline-block;">
		<tr>
			<td>Zielgröße</td>
			<!-- TODO Deckung -->
			<td><select data-ng-model="modifications.size" data-ng-options="s.text for s in options.size"></select></td>
			<td>{{ difficulty.size | signed }}</td>
		</tr>
		<tr>
			<td>Entfernung</td>
			<td><select data-ng-model="modifications.range" data-ng-options="r.text for r in options.range"></select></td>
			<td>{{ difficulty.range | signed }}</td>
		</tr>
		<tr>
			<td><label> <input type="radio" name="movement" value="target"
					data-ng-model="modifications.movement.type">Bewegung
			</label><br /> <label><input type="radio" name="movement" value="combat" data-ng-model="modifications.movement.type">Kampfgetümmel</label></td>
			<td>
				<div data-ng-switch data-on="modifications.movement.type">
					<div data-ng-switch-when="target">
						<select data-ng-model="modifications.movement.target" data-ng-options="m.text for m in options.movement"></select>
					</div>
					<div data-ng-switch-when="combat">
						<input type="number" min="0" data-ng-model="modifications.movement.combat.h">in H<br /> <input
							type="number" min="0" data-ng-model="modifications.movement.combat.ns">in N/S
					</div>
				</div>
			</td>
			<td>{{ difficulty.movement | signed }}</td>
		</tr>
		<tr>
			<td>Sichtverhältnisse</td>
			<td><select data-ng-model="modifications.sight" data-ng-options="s.text for s in options.sight"></select></td>
			<td>{{ difficulty.sight | signed }}</td>
		</tr>
		<!-- TODO Bewegung eines Körperteils -->
		<tr>
			<td>Steilschuss / -wurf</td>
			<td><label><input type="checkbox" data-ng-model="modifications.steep" data-ng-true-value="down">nach
					unten</label> &nbsp;&nbsp;&nbsp;&nbsp; <label><input type="checkbox" data-ng-model="modifications.steep"
					data-ng-true-value="up">nach oben</label></td>
			<td>{{ difficulty.steep | signed }}</td>
		</tr>
		<tr>
			<td>Seitenwind</td>
			<td><label><input type="checkbox" data-ng-model="modifications.sidewind" data-ng-true-value="normal">normal</label>
				&nbsp;&nbsp;&nbsp;&nbsp; <label><input type="checkbox" data-ng-model="modifications.sidewind"
					data-ng-true-value="strong">heftig</label></td>
			<td>{{ difficulty.sidewind | signed }}</td>
		</tr>
		<tr>
			<td>Schnellschuss</td>
			<td><label><input type="checkbox" data-ng-model="modifications.fast">Auf 'Visieren' verzichten</label></td>
			<td>{{ difficulty.fast | signed }}</td>
		</tr>
		<tr>
			<td>Zweite Aktion</td>
			<td><label><input type="checkbox" data-ng-model="modifications.second">Zweiter Schuss/Wurf pro
					KR</label></td>
			<td>{{ difficulty.second | signed }}</td>
		</tr>
		<tr>
			<td>Sonstiges</td>
			<td><input type="number" data-ng-model="modifications.other"></td>
			<td>{{ difficulty.other | signed }}</td>
		</tr>
		<tr>
			<td></td>
			<td>ERSCHWERNIS INSGESAMT</td>
			<td>{{ difficultySum | signed }}</td>
		</tr>
	</table>
</body>
</html>